.App {
  text-align: center;
}

.inputContainer {
  margin-top:2em;
}

.input {
  padding:1em;
  border:2px solid cyan;
  width:50%;
  border-radius: 0cm 2px;
}

.boxCharContainers {
  border:2px solid rgb(241, 242, 242);
  padding:2px;
  margin:2em;
  background-color:white;
}